In [37]:
import pandas as pd
import datetime as dt

Review of Python's datetime Module

In [38]:
someday = dt.date(1990, 4, 27)

In [39]:
someday.year
someday.day
someday.month

4

In [40]:
str(someday)

'1990-04-27'

In [41]:
str(dt.datetime(2010, 1, 10, 8, 13, 57))

'2010-01-10 08:13:57'

The pandas Timestamp Object

In [42]:
pd.Timestamp('2015-03-31')
pd.Timestamp('2015/03/31')
pd.Timestamp('2015, 3, 31')
pd.Timestamp('1,1,2010')
pd.Timestamp('19/12/2015')
pd.Timestamp('2010-03-08 08:14:58')
pd.Timestamp('2021-04-07 06:14:50 PM')

Timestamp('2021-04-07 18:14:50')

In [43]:
pd.Timestamp(dt.date(2015, 1,1))

Timestamp('2015-01-01 00:00:00')

In [44]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 59))

Timestamp('2000-02-03 21:35:59')

The pandas DateTimeIndex Object

In [49]:
dates = ["2016/01/02", "2016/04/12", "2016/09/07"]

In [50]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2016-09-07'], dtype='datetime64[ns]', freq=None)

In [51]:
dates = [dt.date(2016, 1,10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]

In [53]:
dt.Index = pd.DatetimeIndex(dates)

In [54]:
values = [100, 200, 300]
pd.Series(data = values, index = dt.Index)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

The pd.to_datetime() Method

In [58]:
pd.to_datetime('2001-05-17')
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', 'July 3rd, 1990'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1990-07-03'], dtype='datetime64[ns]', freq=None)

In [60]:
times = pd.Series(['2015-01-03', '2014/02/08', '2016', 'July 3rd, 1990'])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 3rd, 1990
dtype: object

In [61]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1990-07-03
dtype: datetime64[ns]

In [63]:
dates = pd.Series(['July 4th, 1996', '10/04/1990', 'Hello', '2015-02-31'])
dates

0    July 4th, 1996
1        10/04/1990
2             Hello
3        2015-02-31
dtype: object

In [64]:
pd.to_datetime(dates, errors = 'coerce')

0   1996-07-04
1   1990-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [66]:
pd.to_datetime([1349720105, 1359806505, 1349892905, 1349979305, 1350065705], unit = 's')

DatetimeIndex(['2012-10-08 18:15:05', '2013-02-02 12:01:45',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

Create Range of Dates with the pd.date_range() Method, Part 1

In [68]:
times = pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'D')

In [69]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [72]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [77]:
pd.date_range(start = '2016-01-01', end = '2050-01-15', freq = 'A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

Create Range of Dates with the pd.date_range() Method, Part 2

In [81]:
pd.date_range(start = '2012-09-09', periods = 50, freq = '6H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

Create Range of Dates with the pd.date_range() Method, Part 3

In [86]:
pd.date_range(end = '1999-12-31', periods = 40, freq = '7H')

DatetimeIndex(['1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

The .dt Accessor

In [89]:
bunch_of_dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = '24D')

In [91]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [94]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [96]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [97]:
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]