In [1]:
import pandas as pd
import datetime as dt

Review of Python's datetime Module

In [2]:
someday = dt.date(1990, 4, 27)

In [3]:
someday.year
someday.day
someday.month

4

In [4]:
str(someday)

'1990-04-27'

In [5]:
str(dt.datetime(2010, 1, 10, 8, 13, 57))

'2010-01-10 08:13:57'

The pandas Timestamp Object

In [6]:
pd.Timestamp('2015-03-31')
pd.Timestamp('2015/03/31')
pd.Timestamp('2015, 3, 31')
pd.Timestamp('1,1,2010')
pd.Timestamp('19/12/2015')
pd.Timestamp('2010-03-08 08:14:58')
pd.Timestamp('2021-04-07 06:14:50 PM')

Timestamp('2021-04-07 18:14:50')

In [7]:
pd.Timestamp(dt.date(2015, 1,1))

Timestamp('2015-01-01 00:00:00')

In [8]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 59))

Timestamp('2000-02-03 21:35:59')

The pandas DateTimeIndex Object

In [9]:
dates = ["2016/01/02", "2016/04/12", "2016/09/07"]

In [10]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2016-09-07'], dtype='datetime64[ns]', freq=None)

In [11]:
dates = [dt.date(2016, 1,10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]

In [12]:
dt.Index = pd.DatetimeIndex(dates)

In [13]:
values = [100, 200, 300]
pd.Series(data = values, index = dt.Index)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

The pd.to_datetime() Method

In [14]:
pd.to_datetime('2001-05-17')
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', 'July 3rd, 1990'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1990-07-03'], dtype='datetime64[ns]', freq=None)

In [15]:
times = pd.Series(['2015-01-03', '2014/02/08', '2016', 'July 3rd, 1990'])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 3rd, 1990
dtype: object

In [16]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1990-07-03
dtype: datetime64[ns]

In [17]:
dates = pd.Series(['July 4th, 1996', '10/04/1990', 'Hello', '2015-02-31'])
dates

0    July 4th, 1996
1        10/04/1990
2             Hello
3        2015-02-31
dtype: object

In [18]:
pd.to_datetime(dates, errors = 'coerce')

0   1996-07-04
1   1990-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [19]:
pd.to_datetime([1349720105, 1359806505, 1349892905, 1349979305, 1350065705], unit = 's')

DatetimeIndex(['2012-10-08 18:15:05', '2013-02-02 12:01:45',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

Create Range of Dates with the pd.date_range() Method, Part 1

In [20]:
times = pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'D')

In [21]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [22]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [23]:
pd.date_range(start = '2016-01-01', end = '2050-01-15', freq = 'A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

Create Range of Dates with the pd.date_range() Method, Part 2

In [24]:
pd.date_range(start = '2012-09-09', periods = 50, freq = '6H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

Create Range of Dates with the pd.date_range() Method, Part 3

In [25]:
pd.date_range(end = '1999-12-31', periods = 40, freq = '7H')

DatetimeIndex(['1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

The .dt Accessor

In [26]:
bunch_of_dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = '24D')

In [27]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [28]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [29]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [30]:
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

The Timedelta Object

In [37]:
timeA = pd.Timestamp('2016-03-31 03:35:57 AM')
timeB = pd.Timestamp('2016-03-20 10:20:50 PM')

In [39]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [40]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [42]:
pd.Timedelta(days=3, weeks=4, minutes=5)

Timedelta('31 days 00:05:00')

Timedeltas in dataset

In [47]:
shipping = pd.read_csv('ecommerce.csv', index_col = 'ID', parse_dates = ['order_date', 'delivery_date'])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [49]:
shipping['Delivery Time'] = shipping['delivery_date'] - shipping['order_date']

In [50]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [51]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
dtype: object

In [54]:
mask = shipping['Delivery Time'] > '365 Days'
shipping[mask]

    order_date delivery_date Delivery Time
ID
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
9   1990-01-25    1994-10-02     1711 days
10  1992-02-23    1998-12-30     2502 days
11  1996-07-12    1997-07-14      367 days
18  1995-06-18    1997-10-13      848 days
20  1992-10-17    1998-10-06     2180 days
23  1992-05-30    1999-08-15     2633 days
26  1996-04-11    1998-05-04      753 days
32  1990-01-20    1998-07-24     3107 days
33  1994-09-21    1996-10-12      752 days
35  1993-09-10    1996-04-28      961 days
36  1990-05-15    1994-02-14     1371 days
39  1990-03-26    1993-01-25     1036 days
41  1992-02-06    1996-05-10     1555 days
50  1991-05-03    1999-07-17     2997 days
52  1994-09-02    1997-05-14      985 days
53  1995-11-29    1998-06-23      937 days
54  1996-08-07    1998-04-04      605 days
60  1993-02-14    1995-08-06      903 days
63  1990-12-22    1995-09-02     1715 days
64  1990-11-25    1998-05-14     2727 days
66  1992-09-08    1998-12-29     2303 days
67  1990-05-04    1993-02-04     1007 days
70  1994-02-16    1999-11-06     2089 days
71  1990-11-25    1998-04-06     2689 days
73  1991-10-01    1993-05-19      596 days
75  1990-06-25    1996-12-18     2368 days
..         ...           ...           ...
907 1994-08-11    1998-09-28     1509 days
908 1993-11-04    1997-02-26     1210 days
909 1991-01-19    1998-08-22     2772 days
916 1994-12-03    1997-03-26      844 days
918 1994-12-29    1996-07-29      578 days
919 1992-01-25    1993-06-01      493 days
922 1996-07-06    1998-12-05      882 days
924 1991-03-17    1996-05-13     1884 days
926 1990-10-31    1994-04-12     1259 days
935 1990-09-26    1998-03-07     2719 days
938 1993-03-24    1995-07-15      843 days
942 1992-04-14    1997-03-03     1784 days
943 1991-01-30    1999-12-02     3228 days
945 1992-10-27    1994-11-03      737 days
946 1991-07-02    1996-02-23     1697 days
947 1991-06-18    1999-06-11     2915 days
951 1991-10-02    1994-04-18      929 days
953 1991-09-26    1994-05-08      955 days
956 1995-08-23    1999-01-10     1236 days
957 1994-10-01    1999-07-25     1758 days
958 1990-04-26    1997-06-29     2621 days
972 1990-02-07    1995-11-05     2097 days
981 1997-01-31    1998-03-04      397 days
983 1994-12-30    1997-07-29      942 days
984 1991-07-25    1999-02-09     2756 days
986 1990-12-10    1992-12-16      737 days
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
997 1990-01-04    1991-10-03      637 days

[394 rows x 3 columns]